.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%),
        url("src/assets/login-page-background.jpg");
    background-position: center;
    background-size: cover;

    .top {
        padding: 1.25rem 10rem;

        img {
            height: 2.5rem;
        }
    }

    .login-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        width: 25%;
        height: 80%;
        margin: auto;
        border-radius: 0.3rem;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 0rem 3rem;
        -webkit-box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.25);
        box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.25);

        .sign-in {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        input {
            height: 2.5rem;
            background-color: transparent;
            border: 1px solid gray;
            border-radius: 0.3rem;
            padding-left: 0.8rem;
            color: white;

            &:focus {
                outline: 1px solid white;
                outline-offset: 0.125rem;
            }
        }

        button {
            font-size: 1rem;
            font-weight: 500;
            background-color: rgb(229, 9, 20);
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 0.3rem;
            padding: 0.8rem 0rem;

            &:hover {
                background-color: rgb(193, 17, 25);
            }
        }

        .forgot-password {
            margin: -1rem auto;

            &:hover {
                text-decoration: underline;
                color: gray;
                cursor: pointer;
            }
        }

        .sign-up {
            margin-top: -0.5rem;

            .new-user {
                color: gray;
            }

            .sign-up-link {
                font-weight: 500;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .remember {
            display: flex;
            align-items: center;
            margin-top: 1rem;
            gap: 0.5rem;

            input {
                appearance: none;
                -webkit-appearance: none;
                border-radius: 0.125rem;
                height: 1.2rem;
                width: 1.2rem;
                outline: none;
                border: 1px solid gray;

                &:checked {
                    background-color: white;
                    border-color: white;

                    &:hover {
                        background-color: #d0d3d4;
                    }

                    &::before {
                        content: "\2713";
                        color: black;
                        display: block;
                        text-align: center;
                        margin-left: -0.8rem;
                        line-height: 1.2rem;
                    }
                }

                &:hover {
                    cursor: pointer;
                    border: 1px solid white;
                }
            }
        }
    }
}
