.register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.9) 100%),
        url("src/assets/login-page-background.jpg");
    background-position: center;
    background-size: cover;

    .top {
        height: 12%;

        .wrapper {
            padding: 1.25rem 10rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                height: 2.5rem;
            }

            button {
                background-color: rgb(229, 9, 20);
                border: none;
                color: white;
                font-size: 0.9rem;
                font-weight: 700;
                padding: 0.5rem 1rem;
                border-radius: 0.3rem;
                cursor: pointer;

                &:hover {
                    background-color: rgb(193, 17, 25);
                }
            }
        }
    }

    .container {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 80%;
        margin: auto;

        h1 {
            font-size: 4rem;
            text-align: center;
            margin: 0.5rem 0rem;
        }

        h2 {
            text-align: center;
            margin: 0.5rem 0rem;
        }

        p {
            text-align: center;
            margin: 0.5rem 0rem;
        }

        .input {
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                height: 3rem;
                width: 24rem;
                background-color: transparent;
                border-radius: 0.3rem;
                border: 1px solid gray;
                padding: 0rem 0.5rem;
                font-size: 1rem;
                margin: 0.8rem;
                margin-right: 0.5rem;
                color: white;

                &:focus {
                    outline: 1px solid white;
                    outline-offset: 0.125rem;
                }
            }

            button {
                background-color: rgb(229, 9, 20);
                color: white;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 0.7rem 1.8rem;
                border: none;
                border-radius: 0.3rem;
                margin: 0.8rem;
                margin-left: 0rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    display: inline-block;
                    font-size: 1.5rem;
                    font-weight: 100;
                    transform: rotate(90deg);
                    margin-left: 0.5rem;
                }

                &:hover {
                    background-color: rgb(193, 17, 25);
                }
            }
        }
    }
}
