.list-item {
    width: 225px;
    height: 125px;
    background-color: white;
    color: var(--main-color);
    border-radius: 5px;
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
