.navbar {
    color: white;
    font-size: 14px;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.5) 50%);

    &.opaque {
        background-color: var(--main-color);
    }

    .genres {
        display: none;

        &.show {
            display: flex;
            align-items: center;
            color: white;
            font-size: 33px;
            font-weight: 500;
            padding: 0px 50px;
        }

        span {
            margin-right: 15px;
        }

        select {
            background-color: var(--main-color);
            cursor: pointer;
            color: white;
            font-size: 15px;
            font-weight: 500;
            border: 1px solid white;
            padding: 5px;
        }
    }

    .container {
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left {
            display: flex;
            align-items: center;

            img {
                margin-right: 40px;
                height: 25px;
            }

            .link {
                margin-right: 20px;
                cursor: pointer;
                text-decoration: none;
                color: white;

                &:hover {
                    transform: scale(1.05);
                }

                &.active {
                    font-weight: 600;
                    transform: scale(1.05);
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            .link {
                cursor: pointer;
                text-decoration: none;
                color: white;

                &:hover {
                    transform: scale(1.05);
                }

                &.active {
                    font-weight: 600;
                    transform: scale(1.05);
                }
            }

            .icon {
                margin: 0px 15px;
                cursor: pointer;
            }

            img {
                height: 30px;
                width: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }

            .profile {
                .options {
                    display: none;
                }
                span {
                    padding: 10px;
                    cursor: pointer;
                }

                &:hover {
                    .options {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        background-color: var(--main-color);
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
